.color-box {
  display: grid;
  place-content: center;
  height: 22rem;
  width: 22rem;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgb(61, 57, 57);
}
